@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

body {
    display: grid;
    background-color: rgba(166, 234, 255, 0.603);
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 30px 0px;
    background-image: linear-gradient(to bottom, #6699ff, #73a6ff, #80b3ff, #8cbfff , #99ccff, #a6d8ff);
}

header > h1 {
    text-align: center;
    font-size: 3em;
    color: #0668c4;
    border: black;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
}

#loginContainer {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 1;
}

#loginContainer > button {
    padding: 5px;
    font-size: 1em;
    border-radius: 10px;
    background-color: #0668c41c;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    color: white;
}

#loginContainer span {
    color: white;
}

#loginContainer:hover #loginContainerHidden {
    display: block;
}

#loginContainerHidden {
    display: none;
    align-self: flex-end;
    padding: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

#loginContainerHidden > label {
    color: white;
}

#loginContainerHidden > label, #loginContainerHidden > input {
    display: block;
    font-size: 1em;
    margin-bottom: 5px;
}

#loginContainerHidden > button {
    padding: 5px 10px;
    font-size: 1em;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, darkblue, darkcyan, deepskyblue, darkgoldenrod, darkorchid) border-box;
    border-radius: 15px;
    border: 3px solid transparent;
    cursor: pointer;
}

#loginContainerHidden > button:hover {
    background: linear-gradient(rgb(236, 235, 235), rgb(236, 235, 2358)) padding-box,
                linear-gradient(to right, darkblue, darkcyan, deepskyblue, darkgoldenrod, darkorchid) border-box;
}

#loginContainerHidden > button:active {
  box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2); /* Reduce shadow */
}

/* Menu */

nav {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    background-color: #a6d8ff;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}

nav > a, nav > div, #toolsLink > a {
    padding: 10px 10px;
    margin: 0px 5px;
    background-color: #BACDFF;
    border-radius: 10px;
    font-size: 1.2em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    border-style: solid;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

nav > a:hover, nav > div:hover {
    background-color: hsla(225, 100%, 80%, 1);
}

#tools {
    position: relative;
}

#tools:hover #toolsLink {
    display: block;
}

#toolsLink {
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: 12px;
    margin-left: -10px;
}

#toolsLink > a {
    display: block;
    margin: 0px 0px 5px 0px;
    background-color: hsla(225, 100%, 80%, 1);
}

#toolsLink > a:hover {
    background-color: #bacdff;
}

/* Slide Show */

#slideShowContainer {
    position: relative;
    width: 100%;
    min-height: 300px;
    background-image: linear-gradient(to right, #FAF9B9, #FAF898, #FAEE73, #FAEA50, #FAE52D);
}

.mySlides {
    display: none;
}

.mySlidesActive {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    min-height: 300px;
    padding: 30px 30px 0px 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.mySlides > img {
    flex-shrink: 1;
    flex-grow: 0;
    width: 188px;
    height: auto;
}

.slideText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
    max-width: 1000px;
    text-align: center;
}

.slideText > h1 {
    font-size: 1.5em;
    line-height: 1.3em;
    text-align: justify;
    overflow: hidden;
}

.slideText > p {
    line-height: 1.3em;
    font-size: 1.1em;
    text-align: justify;
    text-indent: 35px;
    overflow: hidden;
}

.slideText > a {
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: bold;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right bottom, rgba(250, 242, 135, 1) 20%, rgba(228, 250, 135, 1) 40%, rgba(135, 222, 250, 1) 60%, rgba(112, 93, 122, 1) 80%, rgba(122, 120, 93, 1) 100%);
}

.slideText > a:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}

#nextSlide, #prevSlide {
    position: absolute;
    top: 50%;
    border: hidden;
    background-color: transparent;
    padding: 0px 3px;
    font-size: 1.5em;
    cursor: pointer;
}

#nextSlide {
    right: 0%;
}

#prevSlide {
    left: 0%;
}

#nextSlide:hover, #prevSlide:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

#dots {
    display: flex;
    justify-content: center;
}

.dot {
    margin: 0px 5px 50px 5px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.25);
    border: solid black;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.active, .dot:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Main */

main > section {
    margin: auto;
    padding: 10px;
    max-width: 1500px;
    width: 80%;
    background-color: white;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

main > section > h1 {
    padding: 10px;
    font-size: 2em;
    text-align: center;
}

main > section > p {
    font-size: 1.5em;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: #a6d8ff;
}

footer > a {
    padding: 10px;
    font-size: 1.5em;
}

footer > a:hover {
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}